---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---





<html>
<Layout title="Welcome to Astro.">
	<head>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id="page">

			<header>
				<!-- Will contain logo, title, and login button -->
				
				<img src="logo.png" alt="Hoof Hustler logo">
				

				<!-- login button  -->
				<button 
					onclick="document.getElementById('login-form').style.display='block'"
					style=
					"width: auto;
					float: right;
					margin: 0px auto;
					border-radius: 6px;
					position: absolute;
					top: 15px;
					right: 15px;
					"
					>Login
				</button>

				<!-- premium account button -->
				<!-- this should only be visible once the user is logged in and should replace the login button im just not sure how to do that -->
				<button 
					onclick="document.getElementById('premium-form').style.display='block'"
					style="width: auto;
					display: none;
					float: right;
					margin: 0px auto;
					border-radius: 6px;
					position: absolute;
					top: 15px;
					right: 15px;">Upgrade to Premium</button>

				<div id="premium-form" class="premium-modal">
					<form class="modal-content animate"
					action="/action_page.php"
					method="POST">
					<span 
							onclick="document.getElementById('premium-form').style.display='none'"
							class="close"
							title="Close Modal">&times;
						</span>
						
						<div class="container-top">
							
							<label for="code" style="color: #888"><b>Premium Code</b></label>
							<input type="text" placeholder="Premium Code" name="code" title="Enter code to create a premium account" required>

							<button type="submit"
								style="width:100%;
								padding:8px 18px;
								margin: 16px auto;
								display: inline-block;
								box-sizing: border-box;"
								>Submit
							</button>

						</div>
					
					</form>
				</div>

				<div id="login-form" class="login-modal">

					<form 
					class="modal-content animate"
					action="/action_page.php"
					method="POST"
					>	

						<!-- closing button -->
						<span 
							onclick="document.getElementById('login-form').style.display='none'"
							class="close"
							title="Close Modal">&times;
						</span>

						<!-- default profile pic image -->
						<div class="imgcontainer">
							<img src="img_avatar.png" alt="Avatar" class="avatar">
						</div>

						<!-- space to enter info -->
						<div class="container-top">
							<label for="uname" style="color: #888"><b>Username</b></label>
							<input type="text" placeholder="Enter Username" name="uname"
							required>

							<label for="psw" style="color: #888"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="psw"
							required>
						
							<button type="submit"
							style="width:100%;
							padding:8px 18px;
							margin: 16px auto;
							display: inline-block;
							box-sizing: border-box;
							cursor: pointer;"
							>Submit</button>
						</div>

						<div class="container-bottom">
							<button onclick="document.getElementById('signup-form').style.display='block'; 
									document.getElementById('login-form').style.display='none'"
								type="button"	
								style="width:100%;
									   cursor: pointer;
									"
							>Create New Account
							</button>
						</div>
					</form>
				</div>

				<!-- create new account form -->
				<div id="signup-form" class="signup-modal">
					<form class="modal-content animate">
					<!-- put backend signup stuff in form?-->

						<!-- another closing button -->
						<span 
							onclick="document.getElementById('signup-form').style.display='none';
							document.getElementById('login-form').style.display='block'"
							class="close"
							title="close modal"
							>&times
						</span>

						<!-- signup form requires a username and a password, premium code is optional
							needs to be able to check if these are available before submitting -->
						<div class="container-top">
							<label for="uname" style="color: #888"><b>Username</b></label>
							<input type="text" placeholder="Enter Username" name="uname"
							required>

							<label for="psw" style="color: #888"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="psw"
							required>

							<label for="code" style="color: #888"><b>Premium Code</b></label>
							<input type="text" placeholder="Premium Code" name="code" title="Enter code to create a premium account">

							<button type="submit"
								style="width:100%;
								padding:8px 18px;
								margin: 16px auto;
								display: inline-block;
								box-sizing: border-box;"
								>Submit
							</button>

						</div>
					</form>
				</div>

			</header>

			<main>
				<!-- timer -->
				<section id="timer-box">
					<div id="timer"></div>
				</section>

				<section id="flex-container">
					<!-- current race info. Includes all horses and their info along with space to bet on each horse -->
					<section class="sidebox">
						<h1>Next Race</h1>
						<div id="race-details">
							<table id="raceTrackWeatherTable">
								<tbody>
									<!--dynamically populated-->
								</tbody>
							</table>
							<table id="raceDetailsTable">
								<tbody>
								  <!--dynamically populated-->
								</tbody>
							  </table>
						
		
						</div>
					</section>

					<section id="bet-box">
						<h1>Place your bet</h1>
						<div id="betting">
							<table id="betTable">
								<tbody>

								</tbody>
							</table>

						</div>
					</section>
		
					<section id="animation-box">
						<h1>Animation</h1>
						<div id="animation">
							<!-- No idea how to do whats going to be here -->
							<div style="position: relative; 
							width: 100%; 
							height: 0; 
							
							padding-top: 56.2500%;
							padding-bottom: 0; 
							box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
							margin-top: 1.6em; 
							margin-bottom: 0.9em; 
							overflow: hidden;
							border-radius: 8px;
							 will-change: transform;">
							 <iframe loading="lazy" style="position: absolute; 
							 width: 100%; 
							 height: 100%; 
							 top: 0; 
							 left: 0; 
							 border: none; 
							 padding: 0;
							 margin: 0;"
							 src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGBlG4pnA0&#x2F;zta-jEmpjS_g03gMT0mEfQ&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
							</iframe>
						</div>
						<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGBlG4pnA0&#x2F;zta-jEmpjS_g03gMT0mEfQ&#x2F;watch?utm_content=DAGBlG4pnA0&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Horse race</a> by J Trent
		
						</div>
					</section>

					<section class="sidebox">
						<h1>Results</h1>
						<div id="race-results">
							<!-- Table that will show the previous race details, the winner of the race, and whether or not the user won -->
							<table id="lastRaceTrackWeatherTable">
								<tbody>
									<!--dynamically populated -->
								</tbody>
							</table>
							<table id="lastRaceResultTable">
								<tbody>
								  <!--dynamically populated-->
								</tbody>
							  </table>
						</div>
					</section>

				</section>

				<section id="bottom">
					<h1>Past Races</h1>
					<div id="all results">
						<!-- needs javascript to add new section for each new race result -->
						<table id="allResultsTable">
						<!-- 
							<thead>
								<tr>
									<th>Track</th>
									<th>Weather</th>
									<th>Winner</th>
								</tr>
							</thead>
						-->
							<tbody>
								<!-- dynamically populated with a file containing all the previous winners, probably from database, on server connection -->
								<!-- New row is added to the top everytime a race happens and winners are displayed -->
							</tbody>
						</table>
			
					<div>
				</section>
		
			</main>

			<footer>
				<h1>Footer</h1>
				<!-- idk if we need this, its just here -->
			</footer>
		</div>
	

		<script>
			import { getCurrentGame, getGameTime, getPreviousGames } from "../server/gameServer";

			document.addEventListener("DOMContentLoaded", e=> {
				setInterval(() => {
					pollCountdown();
					//pollRaceDetails();
				}, 1000);
				pollRaceDetails();
				pollRaceResult();
				makeLastRaceResultTable();
				makeBetTable();

				async function pollCountdown() {
					const response = await getGameTime();

					const timerElement = document.getElementById("timer");
					if (timerElement) {
						timerElement.innerHTML = response;
					}
				}

				async function pollRaceDetails() {
					const response = await getCurrentGame();
					
					//this is the table we want to populate
					let tbody = document.querySelector("#raceTrackWeatherTable tbody");
					const table1 = document.createElement("table");

					// track info
					const row = document.createElement('tr');
					const keyCell = document.createElement('td');
					const valueCell = document.createElement('td');
							
					keyCell.textContent = "Track";
          			valueCell.textContent = response["track"]["track"];

					row.appendChild(keyCell);
          			row.appendChild(valueCell);
					table1.appendChild(row);

					const row2 = document.createElement('tr');
					const keyCell2 = document.createElement('td');
					const valueCell2 = document.createElement('td');
							
					keyCell2.textContent = "Weather";
          			valueCell2.textContent = response["track"]["weather"];

					row.appendChild(keyCell2);
          			row.appendChild(valueCell2);
					table1.appendChild(row2);

					tbody!.appendChild(table1);

					tbody = document.querySelector("#raceDetailsTable tbody");
    				let table2 = document.createElement("table");

					const horses = response["horses"];

					for (let i = 0; i < horses.length; i++) {
						const horse = horses[i];
						
						const keyCell = document.createElement('td');
         				const valueCell = document.createElement('td');

						keyCell.textContent = "Name";
						
						var wrap1 = document.createElement("span");
						var textNode = document.createTextNode(horse["name"]);
						wrap1.appendChild(textNode);
						wrap1.style.float = "left";

						const button = document.createElement("button");
						button.name = i.toString();

						var wrap2 = document.createElement("span");
						var arrow = document.createElement("span");
						arrow.classList.add("dArrow");
						button.style.marginTop = "3px";
						button.appendChild(arrow);

						button.addEventListener("click", function() {
							alert(`Name: ${horse["name"]}\nAdvantageous Track: ${horse["advTrack"]}\nMane Style: ${horse["maneStyle"]}\nBreed: ${horse["race"]}\nInjuries: ${horse["injuries"]}\nTail Length: ${horse["tailLength"]} `)
						});

						wrap2.appendChild(button);
						wrap2.style.float = "right";

						valueCell.appendChild(wrap1);
						valueCell.appendChild(wrap2);

						const row = document.createElement('th');
						row.appendChild(keyCell);
						row.classList.add("throw" + i);
		  				row.appendChild(valueCell);
						table2.appendChild(row);
					}
					tbody!.appendChild(table2);
				}

				async function pollRaceResult() {
					const previousRace = await getCurrentGame();

					let tbody = document.querySelector("#lastRaceTrackWeatherTable tbody")
					let table1 = document.createElement("table");
					
					const row = document.createElement('tr');
					const keyCell = document.createElement('td');
					const valueCell = document.createElement('td');

					keyCell.textContent = "Winner";
					valueCell.textContent = previousRace["winner"]["name"];
					row.appendChild(keyCell);
					row.appendChild(valueCell);
					table1.appendChild(row);

					tbody!.appendChild(table1);			
				}

				async function makeLastRaceResultTable() {
					const response = await getPreviousGames();
					
					let tbody = document.querySelector("#allResultsTable tbody");
    				let table = document.createElement("table");

					Object.entries(response).forEach(([time, race]) => {
						const row = document.createElement('tr');
          				const keyCell = document.createElement('td');
         				const valueCell = document.createElement('td');

          				keyCell.textContent = new Date(Number(time)).toLocaleString();
						valueCell.textContent = race["winner"]["name"];
								
						row.appendChild(keyCell);
          				row.appendChild(valueCell);
						//table consists of all rows
						table.appendChild(row);
					});
					tbody!.appendChild(table);
				}

				async function makeBetTable(){
					const currentRace = await getCurrentGame();
					
					let tbody = document.querySelector("#betTable tbody");
					let table = document.createElement("table");

					const head = document.createElement('tr');
					const cell1 = document.createElement('td');
					const cell2 = document.createElement('td');
					cell1.textContent = "Horse";
					cell2.textContent = "Select";						
					head.appendChild(cell1);
					head.appendChild(cell2);
					table.appendChild(head);

					for (const horse of currentRace["horses"]) {
						const row = document.createElement('tr');          					
						const valueCell = document.createElement('td');
						const checkCell = document.createElement('td');
						const checkbox = document.createElement('input');
						checkbox.type = 'checkbox';
						checkbox.id = 'betCheckbox';
						checkCell.appendChild(checkbox);
						valueCell.textContent = horse["name"];
       					row.appendChild(valueCell);
						row.appendChild(checkCell);
						//table consists of all rows
						table.appendChild(row);
					}

					tbody!.appendChild(table);
					console.log("table created");
				}
			});

		</script>



	</body>
</Layout>
</html>
