---
import { SignUpForm } from "@/components/auth"
import Layout from "@/layouts/Default.astro"
import "@/styles/globals.css"

---

<html lang="en">
    <Layout title="Hoof Hustler | Sign Up">
        <div style={{ display: 'flex', justifyContent: 'center', alignItems: 'center', height: '100vh' }}>
            <SignUpForm client:load/>
        </div>
    </Layout>
</html>
