---
import { SignUpForm } from "@/components/auth"
import Layout from "@/layouts/Default.astro"
import "@/styles/globals.css"

---

<html lang="en">
    <Layout title="Hoof Hustler | Log in">
        <div style={{ display: 'flex', flexDirection: 'column', justifyContent: 'center', alignItems: 'center', height: '100vh' }}>
            <img src="/logo.png">
            <SignUpForm client:load/>
        </div>
    </Layout>
</html>
