			
			
			*{
				box-sizing: border-box;
			}
			html{
				background-color: #000000;
			}
			body{
				background-color: #000000;
				padding: 10% auto;
				border: 2px solid #eeff00
			}
			header{
				width: 100%;
				height: auto;
				border: 2px solid #fefefe;
				padding: 10% auto;
				text-align: center;
			}
			header img{
				width: 50%;
				max-height: 8%;
			}
			h1{
				color: #fefefe;
				text-align: center;
			}
			#timer-box{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: auto;
				margin: 10px auto;
				border: 2px solid #fa8585;
				padding: 10% auto;
				text-align: center;
			}
			#timer{
				margin: auto;
				display: inline-block;
				border: 5px solid #72ecff;
				border-radius: 10%;
   				padding: 5px;
    			color: #ffffff;
    			font-size: 40px;
    			font-weight: bold;
			}
			#flex-container{
				display: flex;
				flex-direction: row;
				height: auto;
			}
			.sidebox{
				width: 20%;
				height: auto;
				margin: 10px auto;
				border: 2px solid #85fad7;
				padding:10% auto;
			}
			#bet-box{
				width: 15%;
				height: auto;
				margin: 10px auto;
				border: 2px solid #f44b4b;
				padding:10% auto;
			}
			table{
				background-color: #ffffff;
				border: solid;
				border-collapse: collapse;
				width: 100%;
			}
            th{
                display: table-row;
				border: solid;
				text-align: left;
            }
            tr{
                display: table-row;
				border: solid;
            }
			td{
				border: solid;
				vertical-align: bottom;
				width: 50%;
			}
			.dArrow{
				border: solid black;
  				border-width: 0 1px 1px 0;
 	 			display: inline-block;
  				padding: 3px;
				transform: rotate(45deg);
			}
			#animation-box{
				width: 40%;
				margin: 10px auto;
				border: 2px solid #faea85;
				padding: 10% auto;
			}
			#bottom{
				width: 100%;
				margin: 10px auto;
				border: 2px solid #d185fa;
				padding: 10% auto;
			}
			footer{
				width: 100%;
				margin: 10px auto;
				border: 2px solid #ed9a53;
				padding: 10% auto;
			}
	
			/* styling for login and signup forms */
			input[type=text], input[type=password]{
				width:100%;
				padding:10px 18px;
				margin: 8px auto;
				right: 10px;
				display: inline-block;
				box-sizing: border-box;
			}
			.imgcontainer{
				text-align: center;
				margin: 12px 0 5px 0;
				position: relative;
			}
			img.avatar{
				max-width: 50%;
				max-height: 50%;
				float: center;
				border-radius:50%;
			}
			.container-top{
				padding: 5px;
			}
			.container-bottom{
				padding: 5px;
			}
			.close{
				color: #000000;
				position: relative;
				right:-45%;
				z-index: 2;
				top:0%;
				font-size:30px;
				cursor: default;
			}
			.login-modal{
				display: none;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				/*transform: translate(-50%, -50%);*/
				width: 100%;
				height: 100%;
				/*margin: auto;*/
				overflow: auto;
				background-color: rgba(0,0,0);
				background-color: rgba(0,0,0,0.4);
				padding-top: 60px;
			}
			.signup-modal{
				display: none;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				/*transform: translate(-50%, -50%);*/
				width: 100%;
				height: 100%;
				/*margin: auto;*/
				overflow: auto;
				background-color: rgba(0,0,0);
				background-color: rgba(0,0,0,0.4);
				padding-top: 60px;
			}
			.premium-modal{
				display: none;
			}
			.modal-content{
				width: 30%;
				height: auto;
				margin: 0% auto 15% auto;
				border: 1px solid #888;
				background-color: #fefefe;
			}
			/* styling for login form ends */
            .hrow1{
				display: none;
			}
            .hrow2{
                display:none;
            }
            .hrow3{
                display:none;
            }
            .hrow4{
                display:none;
            }
            .hrow5{
                display:none;
            }
            .hrow6{
                display:none;
            }
            .hrow7{
                display:none;
            }
            .hrow8{
                display:none;
            }
            .nothrow1{
                display: table-row;
            }
            .nothrow2{
                display: table-row;
            }
            .nothrow3{
                display: table-row;
            }
            .nothrow4{
                display: table-row;
            }
            .nothrow5{
                display: table-row;
            }
            .nothrow6{
                display: table-row;
            }
            .nothrow7{
                display: table-row;
            }
            .nothrow8{
                display: table-row;
            }